<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/FastAPI_b.jpg)">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="username"  style="font-size: 20px">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password"  style="font-size: 20px">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit"  style="font-size: 20px">Login</button>
    </form>
</body>
</html>
